USE [master]
GO
/****** Object:  Database [Courses4U]    Script Date: 28/06/2020 10:50:38 PM ******/
CREATE DATABASE [Courses4U]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Courses4U].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Courses4U]
GO
USE [Courses4U]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 28/06/2020 10:50:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[URL] [nvarchar](max) NULL,
	[Summary] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[ProviderName] [nvarchar](150) NULL,
	[ProviderLogo] [nvarchar](max) NULL,
	[RatingPoint] [float] NULL,
	[RatingNumber] [int] NULL,
	[EnrollmentNumber] [int] NULL,
	[SkillLevel] [nvarchar](50) NULL,
	[Author] [nvarchar](200) NULL,
	[Source] [nvarchar](50) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
